.Keypad {
    margin: 5px;
}

.KeypadWrap {
    display: grid;
    grid-gap: 5px;
    grid-area: 5 / 3;
    font-size: 20px;
}

.KeypadValue {
    grid-area: 1 / 1 / auto / auto;
    margin: 10px;
    font-size: 36px;
}

.KeypadKey {
}
