.Keypad {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: calc(50%);
    flex-grow: 0;
}

.KeypadValue {
    margin: 10px;
    font-size: 36px;
}

.KeypadWrap {
    flex: auto;
    display: grid;
    grid-gap: 5px;
    font-size: 20px;
}

.KeypadKey {
    height: 100%;
    font-size: 20px;
}
